.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

.submit-button {
    background-color: #FFC0CB;
    color: black;
    border-color: #d39ea7
}

.submit-button:hover {
    border-color: black;
    color: black;
    background-color: #d39ea7
}

.like {
    background-color: rgb(235, 199, 235);
    color: black;
    border-color: rgb(175, 146, 175);;
}

.follow-button-inner {
    background-color: clear;
    color: white;
    border-color: rgb(78, 151, 240);;
}

.follow {
    background-color: rgb(192, 13, 192);
    color: white;
    border-color: rgb(168, 86, 114);
}

.follow:hover {
    background-color: rgb(148, 25, 148);
    color: white;
    border-color: rgb(0, 0, 0);
}

.like:hover {
    background-color: plum;
    color: black;
    border-color: rgb(0, 0, 0);
}

.like_count{
    color: black;
}

.link{
    color: rgb(158, 68, 158);
}

.emoji{
    background-color: #FFC0CB;
    color: black;
    border-color: palevioletred;
}

.reply{
    background-color: #c0f8ff;
    color: black;
    border-color: #98c6cc
}

.reply::-moz-range-thumb{
    background-color: #9ecbd1;
    color: black;
    border-color: black;
}

a {
    text-decoration: none;
    color: rgb(158, 68, 158);
}